

body{
    background-image: linear-gradient(to bottom, #B3F2F2, #91f868a1 );
    background-attachment: fixed;
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4c8336a1 ;
    width: 900px;
    padding: 10px;
    margin: auto;
}

h1{
    color: black;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 2px #01463fb0;
}

h1#principal {
    text-decoration: underline;
}

/* #parabens, .secundary2, .lista .mark (palacio.html) */

#parabens {
    text-decoration: underline;
    font-size: 55px;
}

#exemplo {
    font-size: 40px;
}

h2{ 
    color: #02413a;
    text-align: center;
    font-size: 26px;
            
}

h2#secundary {
    font-size: 25px;
}

.secundary2 {
    font-size: 30px;
}

h3{
    text-align: center;
    font-size: 20px;
}

p{
    text-align: center;
    font-size: 25px;
}


nav > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    font-size: 15px;
}

.mark {
    font-weight: 600;
}

ul{
    text-align: center;
    font-size: 20px;
}

.lista {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    background-image: linear-gradient(to bottom, #639191, #5c9e42a1 );
    padding: 1px;
    margin: 2px;
    
    outline: 5px double black ;
}

footer > p {
    margin: 0px;
}

footer > p:hover {
    text-decoration: underline;
}